.container {
  .circle {
    background-color: $font-color-white;
    border-radius: 50%;
    position: absolute;
    animation: move-up 2s ease-in infinite alternate-reverse;
    filter: brightness(80%);
  }

  .circle:nth-child(1) {
    width: 8rem;
    height: 8rem;
    top: 0;
    left: 0;
  }

  .circle:nth-child(2) {
    width: 8rem;
    height: 8rem;
    bottom: 0;
    right: 0;
    animation-name: move-down;
  }

  .circle:nth-child(3) {
    width: 4rem;
    height: 4rem;
    bottom: 10rem;
    right: 0;
  }

  .circle:nth-child(4) {
    width: 4rem;
    height: 4rem;
    top: 10rem;
    left: 0;
    animation-name: move-down;
  }

  .circle:nth-child(5) {
    width: 2rem;
    height: 2rem;
    bottom: 10rem;
    right: 6rem;
    animation-name: move-down;
  }

  .circle:nth-child(6) {
    width: 2rem;
    height: 2rem;
    top: 10rem;
    left: 6rem;
  }

  @keyframes move-up {
    to {
      transform: translateY(1rem);
    }
  }

  @keyframes move-down {
    to {
      transform: translateY(-1rem);
    }
  }
}
