.container {
  height: 100vh;
  display: grid;
  place-content: center;

  .container__card {
    padding: 2rem 4rem;
    background-color: $bg-color-container-card;
    border: 1px solid $border-color-container-card;
    border-radius: 1.5rem;

    h1 {
      margin-bottom: 2rem;
      color: $font-color-white;
      text-align: center;
    }

    div {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      input[type="text"] {
        padding: 0.5rem 1rem;
        width: 12rem;
        border: none;
        border-radius: 0.4rem;
      }

      div {
        height: 2rem;
        width: 2rem;
        border: 1px solid $font-color-white;
        border-radius: 1rem;
        display: inline-block;
        overflow: hidden;

        input[type="color"] {
          border: 0;
          width: 8rem;
          height: 4rem;
          cursor: pointer;
          transform: translate(-25%, -25%);
        }
      }
    }
  }
}
