@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

//color
$bg-color-container-card: #41414133;
$border-color-container-card: #ffffff4d;
$font-color-white: #ffffff;

//font
$principal-font: 'Quicksand', sans-serif;